<!DOCTYPE html>
<html>

<body>
    <div style="text-align:center;">
        <p style="color:white; font-size:25px; background-color:black;">WELCOME TO OUR RESTAURANT</p>
        <h1 style="color:blue; font-size:25px; font-family: 'Brush Script MT', cursive;">Let's Order Something Special</h1>
    </div>
    <div style="text-align: center; background-color: mediumaquamarine; "> 
        
        <li>All Types OF Orders Will Be Taken here</li><br>
        <li>Easy And Fast Delivery  Within 15 min</li><br>
        <li>Special Discounts For College Students</li><br>
        <li>Birthday Offer Flat-50%off on your bill</li>
        
        
    </div>

    <div style="text-align:center;">
      <h2 style="color:red; font-size:23px; font-family: 'Times New Roman', serif; "><ins>SOFT DRINKS</ins></h2>
      <hr>
        <img src="https://cdn.glitch.global/8e805950-10e9-4666-a5b6-394706c74fab/ld.jpg?v=1691859151831" height="80"
            width="80">
        <form action="/action_page.php" onsubmit="showConfirmation('Soft Drinks order placed!'); return false;">
            <input type="radio" id="Thums Up" value="Thums Up">
            <label for="Thums Up">Thums Up -Rs.35</label><br>
            <input type="radio" id="Sprite" value="Sprite">
            <label for="Sprite">Sprite -Rs.35</label><br>
            <input type="radio" id="CocoCola" value="CocoCola">
            <label for="CocoCola">CocoCola -Rs.35</label><br>

            <input type="submit" value="Order Soft Drinks">
        </form>
    </div>

    <div style="text-align:center;">
      <h2 style="color:red; font-size:23px; font-family: 'Times New Roman', serif;"><ins>ICE CREAMS</ins></h2>
      <hr>
        <img src="https://cdn.glitch.global/8e805950-10e9-4666-a5b6-394706c74fab/ic.jpeg?v=1691859622916" height="80"
            width="80">
        <form action="/action_page.php" onsubmit="showConfirmation('Ice Creams order placed!'); return false;">
            <input type="radio" id="Vanilla" value="Vanilla">
            <label for="Vanilla">Vanilla -Rs.79</label><br>
            <input type="radio" id="Butterscotch" value="Butterscotch">
            <label for="Butterscotch">Butterscotch -Rs.79</label><br>
            <input type="radio" id="DryFruit" value="DryFruit">
            <label for="DryFruit">DryFruit -Rs.79</label><br>

            <input type="submit" value="Order Ice Creams">
        </form>
    </div>

    <!-- ... (similar modifications for other sections) -->

    <script>
        function showConfirmation(message) {
            alert(message + ' Order placed!');
        }
    </script>


<body>
    <div style="text-align:center;">
        <h2 style="color:red; font-size:23px; font-family: 'Times New Roman', serif;"><ins>STARTERS</ins></h2>
        <hr>

        <h3><u>VEG</u></h3>
        <img src="https://cdn.glitch.global/8e805950-10e9-4666-a5b6-394706c74fab/vsr.jpg?v=1691856265167" height="80"
            width="80">
        <form action="/action_page.php" onsubmit="showConfirmation('Veg Starters order placed!'); return false;">
            <br>
        
            <input type="radio" id="Veg Spring Rolls" value="Veg Spring Rolls">
            <label for="Veg Spring Rolls">Veg Spring Rolls -Rs.149</label><br>
            <input type="radio" id="Veg Manchuria" value="Veg Manchuria">
            <label for="Veg Manchuria">Veg Manchuria-Rs.99</label><br>
            <input type="radio" id="Paneer 65" value="Paneer 65">
            <label for="Paneer 65">Paneer 65 -Rs.199</label><br>
            <input type="radio" id="Chilly Baby Corn" value="Chilly Baby Corn">
            <label for="Chilly Baby Corn">Chilly Baby Corn -Rs.149</label><br><br>
            <input type="submit" value="Order Starters">
        </form>
    </div>

    <div style="text-align:center;">
        <h4><b><u>NON-VEG</u></b></h4>
        <img src="https://cdn.glitch.global/8e805950-10e9-4666-a5b6-394706c74fab/cch.jpg?v=1691855996930" height="80"
            width="80"> <br><br>
        <form action="/action_page.php" onsubmit="showConfirmation('Non-Veg Starters order placed!'); return false;">
            <input type="radio" id="Chilly Chicken" value="Chilly Chicken">
            <label for="Chilly Chicken">Chilly Chicken -Rs.229</label><br>
            <input type="radio" id="Chicken 65" value="Chicken 65">
            <label for="Chicken 65">Chicken 65 -Rs.229</label><br>
            <input type="radio" id="Chicken Wings" value="Chicken Wings">
            <label for=" Chicken Wings">Chicken Wings -Rs.249</label><br>
            <input type="radio" id="Chilly Fish/Prawns" value="Chilly Fish/Prawns">
            <label for="Chilly Chilly Fish/Prawns">Chilly Fish/Prawns -Rs.299</label><br><br>
            <input type="submit" value="Order Starters">
        </form>
    </div>

    <div style="text-align:center;">
        <p style="color:red; font-size:23px; font-family: 'Times New Roman', serif;"><ins>BIRYANI'S</ins></p>
        <hr>
        <form action="/action_page.php" onsubmit="showConfirmation('Biryani order placed!'); return false;">
            <p><b><u>VEG</u></b></p>
            <img src="https://cdn.glitch.global/8e805950-10e9-4666-a5b6-394706c74fab/bryni.jpg?v=1691858452670" height="80"
                width="80"> <br><br>
            <input type="radio" id="Paneer Biryani" value="Paneer Biryani">
            <label for="Paneer Biryani">Paneer Biryani -Rs.249</label><br>
            <input type="radio" id="Mushroom Biryani" value="Mushroom Biryani">
            <label for="Mushroom Biryani">Mushroom Biryani -Rs.279</label><br>
            <input type="radio" id="Veg Biryani" value="Veg Biryani">
            <label for="Veg Biryani">Veg Biryani -Rs.229</label><br><br>
            <input type="submit" value="Order Biryani">

            <p><b><u>NON-VEG</u></b></p>
            <img src="https://cdn.glitch.global/8e805950-10e9-4666-a5b6-394706c74fab/cbryni.jpeg?v=1691858685046" height="80"
                width="80"> <br><br>
            <input type="radio" id="Chicken Dum Biryani" value="Chicken Dum Biryani">
            <label for="Chicken Dum Biryani">Chicken Dum Biryani -Rs.279</label><br>
            <input type="radio" id="Chicken Fry Biryani" value="Chicken Fry Biryani">
            <label for="Chicken Fry Biryani">Chicken Fry Biryani -Rs.299</label><br>
            <input type="radio" id="Fish Biryani" value="Fish Biryani">
            <label for="Fish Biryani">Fish Biryani -Rs.329</label><br><br>

            <input type="submit" value="Order Biryani">
        </form>
    </div>
    
    <script>
        function showConfirmation(message) {
            alert(message + ' Order placed!');
        }
    </script>
    <style>
        
        footer {
            text-align: center;
            font-size: 20px;
            
        }
    </style>
    
</body>
<hr>
<footer>
    <p><b>Thank You   -Visit Again</b></p>
    <p>Contact-8985447617</p>
    <p>gmail-restraunt@gmail.com</p>
</footer>


</html>